node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
cookies.txt
auth_access.log
.profiles/
yt-dlp
*.pem
*.key
*.crt
logs/
*.log
.cache/
.DS_Store
.vscode/
.idea/
dist/
coverage/
/.tmp
tmp/
__pycache__/
thumbs.db
discordbot_voce.js
darkchair_api_yt/
.local-firefox-profile/
last_tracks.json
package-lock.json
playlists/*
